/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
  background-image: url('bg.jpg');
}

#header-wrap {
  background-color: #000;
  width: 100%;
}

#header {
  height: 50px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

#logo {
  height: 100%;
  background-image: url('logorino.png');
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  width: 100px;
}

#room-display {
  float:right;
  line-height: 50px;
  color: #EEE;
  font-size: 18px;
}

#room-id {
  color: #f85959;
  font-weight: bold;
}

#main-view {
  max-width: 400px;
  margin: auto;
}

#song_search {
  width: 100%;
}
